* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*utility class*/

.fl {
    float: left;
}

.fr {
    float: right;
}


ul {
    list-style: none;
}

li {
    display: inline;
}

.container {
    height: 600px;
    background-color: #cddc39;
    position: relative;
}

.top-bar {
    height: 30px;
    background-color: white;
    position: relative;

}

header {
    max-width: 1200px ;
    margin: 0 auto;
    position: relative;
}

.text-top{
    width: 40%;
    height: 400px;

}

.image-top{
    width:60%;
    height: 400px;


}