* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/*utility class*/

.fl {
    float: left;
}

.fr {
    float: right;
}


ul {
    list-style: none;
}

li {
    display: inline;
}

h1{
    font-size: 56px;
    font-weight: 600;
    padding-bottom: 30px;
    display: inline-block;
    

}

h4{
    font-size: 30px;
    text-align: center;
    font-weight: 500;

}

h5{

}

h3{
    font-size: 38px;
    padding-top:100px;
    
}

.container-top {
    height: 550px;
    background-color:#b4d0e7;
    position: relative;
    
}

.top-bar {
    height: 32px;
    background-color: white;
    font-size: 16px;
    
}

.logo-drpbx {
    line-height: 30px;
}

.menu-top li{
    text-align: center;
    margin-left: 35px;

}

ul.menu-top{
    line-height: 30px;
    height: 30px;
}

.button-top{
    width: 60px;
    color: white;
    background-color: #0061ff;
    margin-right: 5px;
    padding: 2 4px;
    text-align: center;
    display: inline-block;
}

header {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    bottom: -50px;
}


.text-top{
    width: 40%;
    
    
}

.image-top{
    width:60%;
    padding-left: 60px;
    position: relative;
    
}

.image-top img{
    width: 100%;
    position: absolute;
    
}


.button-header{
    text-align: center;
    width: 50%;   
    background-color: #0061ff;
    padding: 10px;
    font-size: 14px;
    color: white;
    display: inline-block;
    margin-top: 10px;
}

.button-bplan{
    text-align: center;
    width: 100%;   
    background-color: #0061ff;
    padding: 10px;
    color: white;
    display: inline-block;
    
    

}







    




.button-hor{
    text-align: center;
    width: 100%;   
    background-color: #0061ff;
    padding: 10px;
    color: white;
    display: inline-block;


}

.text-hor{
    width: 70%;
}
.space-hor{
    width: 30%;
    padding-right:15px;
    padding-top: 20px;
}

.button-check {
    display: inline-block;
    margin-top: 30px;
    margin-bottom:30px
    
}


section {
    width: 1000px;
    margin: 0 auto;
    /* height: 2000px; */
    margin-top: 50px;
    

}



.container-plan {
    width: 100%;

}




.ver-pro, .ver-sta, .ver-adv {
    width: calc(100% / 3 - 20px);
    border: 1px solid black;
    height: 800px;
    
}


.ver-pro{
    
    margin-right: 5px;
}

.ver-sta{
    margin-left: 5px;
    margin-right: 5px;
}

.ver-adv{
    margin-left: 5px;
}
    







.titles{
    text-align: center;
    font-size: 18px;
    height: 40px;
    border-bottom: 1px solid black;
    font-weight: 600;
    padding-top: 5px;

}

    




.hor-enter {
    width: 100%;
    height: 250px;
    border: 1px solid black;
    display: inline-block;
    margin-top: 15px;
    
}
.text-hor{
    padding: 20px;
}
.text-hor h4 {
    text-align: left;
}

.text-hor span{
    font-size: 14px;
    font-weight: 600;
}
.text-hor p{
    font-size: 12px;

}

.text-partner{
    width: 50%;
    padding-left: 40px;
    padding-top: 40px;
}

.img-partner{
    width: 50%;
}

.img-partner img{
    width: 100%;
}


.text-partner p{
    font-size: 12px;
}

.text-partner h4{
    text-align: left;
    padding-bottom: 10px;
}
.button-partner{
    border: 1px solid #ccc;
    padding: 10px;
    height: ;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    margin-top: 30px;

}

.container-business{
    border: 1px solid #ccc;
}

.container-feature{
    width: calc(100% / 3 );
}

.img-feature img{
    width: 100%;
}




