* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/*utility class*/

.fl {
    float: left;
}

.fr {
    float: right;
}


ul {
    list-style: none;
}

li {
    display: inline;
}

h1{
    font-size: 56px;
    font-weight: 600;
    padding-bottom: 30px;
    display: inline-block;
    

}

h4{
    font-size: 30px;
    text-align: center;
    font-weight: 500;

}

h5{
    font-size: 18px;
    padding-bottom: 20px;
}


h3{
    font-size: 38px;
}
    
    

.container-top {
    height: 550px;
    background-color:#b4d0e7;
    position: relative;
    
}

.container-bplan h3{
    padding-top:100px;
}

.top-bar {
    height: 32px;
    background-color: white;
    font-size: 16px;
    margin-top: 5px;
    
}

.logo-dropbox {
    line-height: 30px;
    margin-left: 5px;
}

.menu-top li{
    text-align: center;
    margin-left: 35px;

}

ul.menu-top{
    line-height: 30px;
    height: 30px;
}

.button-top{
    width: 60px;
    color: white;
    background-color: #0061ff;
    margin-right: 5px;
    padding: 2 4px;
    text-align: center;
    display: inline-block;
}

header {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    bottom: -50px;
}


.text-top{
    width: 40%;
    
    
}

.image-top{
    width:60%;
    padding-left: 60px;
    position: relative;
    
}

.image-top img{
    width: 100%;
    position: absolute;
    
}


.button-header{
    text-align: center;
    width: 50%;   
    background-color: #0061ff;
    padding: 10px;
    font-size: 14px;
    color: white;
    display: inline-block;
    margin-top: 10px;
}

.button-bplan{
    text-align: center;
    background-color: #0061ff;
    padding: 10px;
    color: white;
    display: inline-block;
    margin-left:45px;
    
}
    
    


.offerta li{
    display: block;
    padding-bottom: 5px;
    padding-left: 5px;
}

.punti{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 40px;
    display: inline-block;
    
}


.punti-list  {
    display:inline-block;
    width:100%;
    padding-bottom: 20px;
    padding-left: 5px;
}

.check {
    display: inline-block;
    width: 7px;
    font-size: 18px;
    vertical-align: top;
}

.text-punti{
    display: inline-block;
    width: 300px;
    font-size: 16px;
}








    




.button-hor{
    text-align: center;
    width: 100%;   
    background-color: #0061ff;
    padding: 10px;
    color: white;
    display: inline-block;


}

.text-hor{
    width: 70%;
}
.space-hor{
    width: 30%;
    padding-right:15px;
    padding-top: 20px;
}

.button-check {
    display: inline-block;
    margin-top: 30px;
    margin-bottom:30px
    
}


section {
    width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    
    

}

.container-plan {
    width: 100%;

}

/* gutter: sottratta la metà dei margini left e right del 
centrale, ma non torna qualche pixel */

.ver-pro, .ver-sta, .ver-adv {
    width: calc(100% / 3 - 10px);
    border: 1px solid black;
    
    
}    

.ver-sta{
    margin-left: 15px;
    margin-right: 15px;
}


.titles{
    text-align: center;
    font-size: 18px;
    height: 40px;
    border-bottom: 1px solid black;
    font-weight: 600;
    padding-top: 5px;

}













    




.hor-enter {
    width: 100%;
    height: 250px;
    border: 1px solid black;
    display: inline-block;
    margin-top: 15px;
    
}
.text-hor{
    padding: 20px;
}
.text-hor h4 {
    text-align: left;
}

.text-hor span{
    font-size: 14px;
    font-weight: 600;
}
.text-hor p{
    font-size: 12px;

}


/* partner */

.text-partner{
    width: 50%;
    padding-left: 40px;
    padding-top: 40px;
}

.img-partner{
    width: 50%;
}

.img-partner img{
    width: 100%;
}


.text-partner p{
    font-size: 12px;
}

.text-partner h4{
    text-align: left;
    padding-bottom: 10px;
}
.button-partner{
    border: 1px solid #ccc;
    padding: 10px;
    height: ;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    margin-top: 30px;

}

/* business */



.container-feature{
    width: calc(100% / 3 - 10px);
    height: 650px;
}


/* classe aggiunta per mettere i margini alla card
centrale - verificare uso di nht */

.container-feature2{
    margin:0 15px;
    
}

.img-feature img{
    width: 100%;
    
}

.img-feature{
    text-align: center;
}

.title-feature{
    font-size: 30px;
    text-align: left;
    font-weight: 500;
    height: 85px;
}

.text-feature{
    font-size: 16px;
    padding-left: 5px;
}




/* team */

.container-teamcard{
    width: 100vw;
    height: calc(100vw / 3);
    border: 1px solid #ccc;

}



.col-cen, .col-sx, .col-dx {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    border: 1px solid #ccc;

}

.teamcard {
    width: 50%;
    height: 50%;
    border: 1px solid #ccc;
}

.teamcard img{
    width: 100%;
}


/* try */


.container-try{
    background-color: #b4d0e7;
    height: 200px;

}
.try{
    width: 1000px;
    margin: 0 auto;

}

text.try h3{
    font-size: 38px;
    padding-top: 10px;
}


.text-try{
    width: 70%;
    margin-top: 30px;
    
    
}


.button-try{
    border: 1px solid #ccc;
    padding: 10px;
    background-color: white;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    margin-top: 40px;
    
}


/* faq */



.faq{
    position:relative
}
    
.faq h3{
    margin-bottom: 30px;
}


.faq span{
    font-size: 18px;
    display: inline-block;
}

.faq li{
    border-top: 1px solid #ccc;
    padding: 30px 0 20px;
    display: block
}

.faq li:last-child{
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.faq-arrow{
    font-size: 18px;
}

.faq .faq-arrow{
    position: absolute;
    right: 0;
    margin-right: 15px;
}


/* footer */

footer{
    height: 400px;
    border: 1px solid #ccc;
    background-color: black;

}

.colonna {
    width: calc(100% / 5);
    border: 1px dotted black;
    color: white;
    

}

.colonna li{
    font-size: 12px;
    padding-bottom: 10px;
    display: block;

    
}

.select{
    border-top:1px solid white;
    width:100px;
    font-size: 12px;
    color: white;
    margin-top: 50px;
}


.select span{
    padding-top:50px;
    display: inline-block;
}

